body{
    margin:0px;

}

.navbar{
    border-style:solid;
    border-width: 2px;
    border-color:black;
    padding :20px;
    text-align:center;
    background-color:black;
}
.navbar a{
    padding:20px;
    text-decoration:none;
    color:greenyellow;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 1px;
    border-radius: 6px;
    transition: all 0.3s ease;
}
.faculty-card {
    width: 300px;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 12px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    margin: 20px;
}

.faculty-card img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
}

.faculty-card h3 {
    margin: 10px 0;
}

.faculty-card p {
    color: #555;
}

